@CHARSET "UTF-8";

@media only screen and (max-width: 630px) {
	#unseen table td:nth-child(2),
	#unseen table th:nth-child(2),
	#unseen table td:nth-child(5),
	#unseen table th:nth-child(5),
	#unseen table td:nth-child(6),
	#unseen table th:nth-child(6){display: none;}
}

@media only screen and (max-width: 640px) {
	#unseen table td:nth-child(2),
	#unseen table th:nth-child(2),
	#unseen table td:nth-child(6),
	#unseen table th:nth-child(6){display: none;}
}

@media only screen and (max-width: 630px) {
	#unseen-counters table td:nth-child(3),
	#unseen-counters table th:nth-child(3),
	#unseen-counters table td:nth-child(4),
	#unseen-counters table th:nth-child(4){display: none;}
}

@media only screen and (max-width: 630px) {
	#unseen-persons table td:nth-child(4),
	#unseen-persons table th:nth-child(4),
	#unseen-persons table td:nth-child(5),
	#unseen-persons table th:nth-child(5),
	#unseen-persons table td:nth-child(6),
	#unseen-persons table th:nth-child(6),
	#unseen-persons table td:nth-child(7),
	#unseen-persons table th:nth-child(7),
	#unseen-persons table td:nth-child(8),
	#unseen-persons table th:nth-child(8){display: none;}
}

@media only screen and (max-width: 640px) {
	#unseen-persons table td:nth-child(5),
	#unseen-persons table th:nth-child(5),
	#unseen-persons table td:nth-child(6),
	#unseen-persons table th:nth-child(6),
	#unseen-persons table td:nth-child(7),
	#unseen-persons table th:nth-child(7),
	#unseen-persons table td:nth-child(8),
	#unseen-persons table th:nth-child(8){display: none;}
}

@media only screen and (max-width: 630px) {
	#unseen-notes table td:nth-child(2),
	#unseen-notes table th:nth-child(2),
	#unseen-notes table td:nth-child(4),
	#unseen-notes table th:nth-child(4){display: none;}
}

@media only screen and (max-width: 640px) {
	#unseen-notes table td:nth-child(2),
	#unseen-notes table th:nth-child(2),
	#unseen-notes table td:nth-child(4),
	#unseen-notes table th:nth-child(4){display: none;}
}

@media only screen and (max-width: 630px) {
	#unseen-passpack table td:nth-child(2),
	#unseen-passpack table th:nth-child(2),
	#unseen-passpack table td:nth-child(3),
	#unseen-passpack table th:nth-child(3),
	#unseen-passpack table td:nth-child(5),
	#unseen-passpack table th:nth-child(5){display: none;}
}

@media only screen and (max-width: 640px) {
	#unseen-passpack table td:nth-child(2),
	#unseen-passpack table th:nth-child(2),
	#unseen-passpack table td:nth-child(5),
	#unseen-passpack table th:nth-child(5){display: none;}
}

.panel-body {
	padding: 15px;
}

@media print {
	
  a[href]:after {
    content: none !important;
  }
  
  abbr[title]:after {
    content: !important;
  }

  table th:last-child {display:none}
  table td:last-child {display:none}
  
  .btn-group {
  		display:none;
  		}
  		
  #search, #search-text, .tags, .bootstrap-tagsinput span span, .caret {
  		display: none !important;
  } 	
 		
  
  .btn, .label {
  		padding: 0px !important;
  		border: none !important;
  		font-weight: normal;
  		font-size: 12px !important;
  }
  
  .container {
  		margin: 0px;
  		width: 100%;
  }
  
  body {
  		font-size: 12px !important;
  }
  
  .table > tbody > tr > td {
  	padding: 2px !important;
  }
  
  .note-editable {
  		height: auto !important;
  }
  
  .form-group .col-sm-10 {
  		width: 100%;
  }
  
  .form-group label {
  		text-align: left !important;
  }
  
  .form-control, .panel-default, div, textarea {
  		border: 0px !important;
  }
  
  .button-group, .heading, .note-resizebar, .panel-heading .col-sm-2 {
  		display: none;
  }
  
  
  .container, .panel-body, .panel-heading, .panel-heading div div {
  		padding: 0px !important;
  }
  
  .row {
  		margin: 0px !important;
  }
  
  .panel-heading .col-sm-10 {
  		font-size: 25px;
  		font-weight: bold;
  }
  
  .col-sm-10 input {
  		font-size: 12px !important;
  		padding: 0px;
  }
  
}

body {
	overflow-y: scroll;
	margin-top: 0px !important;
}

.bootstrap-tagsinput {
	height: 32px;
}

.outdated  a{
	font-weight: bold;
	text-transform: uppercase;
	color: red !important;
	}
}
