@CHARSET "UTF-8";

@media only screen and (max-width: 630px) {
	#unseen table td:nth-child(2),
	#unseen table th:nth-child(2),
	#unseen table td:nth-child(5),
	#unseen table th:nth-child(5),
	#unseen table td:nth-child(6),
	#unseen table th:nth-child(6){display: none;}
}

@media only screen and (max-width: 630px) {
	#unseen-counters table td:nth-child(3),
	#unseen-counters table th:nth-child(3),
	#unseen-counters table td:nth-child(4),
	#unseen-counters table th:nth-child(4){display: none;}
}

@media only screen and (max-width: 630px) {
	#unseen-persons table td:nth-child(2),
	#unseen-persons table th:nth-child(2),
	#unseen-persons table td:nth-child(5),
	#unseen-persons table th:nth-child(5),
	#unseen-persons table td:nth-child(6),
	#unseen-persons table th:nth-child(6){display: none;}
}

.panel-body {
	padding: 15px;
}

@media print {
	
  a[href]:after {
    content: none !important;
  }
  
  abbr[title]:after {
    content: !important;
  }

  table th:last-child {display:none}
  table td:last-child {display:none}
  
  .btn-group {display:none}
  
}
